.month-range-picker-year {
  margin-bottom: 15px;
}

.month-range-picker-year-number {
  margin-bottom: 5px;
}

.month-range-picker-month {
  margin: 2px;
  border: 1px gray solid;
  padding: 2px;
}

.month-range-picker-month.selected {
  background-color: aqua;
}