body {
  color: gray;
  margin: 20px;
  font-family: 'Roboto', sans-serif;
}

.month-range-picker-year {
  margin-bottom: 15px;
}

.month-range-picker-year-number {
  margin-bottom: 5px;
  font-size: smaller;
}
